@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

*{
	font-family: 'Open Sans', sans-serif;
}

a:hover{
	text-decoration: none;
}

.no-padd{
	padding-left: 0;
	padding-right: 0;
}

.logo{
	width: 100px;
}

/* .main-banner{
	height: 90vh;
	width: 100%;
	background-image: url(assets/img/bg1.jpg);
	background-size: cover;
	background-position: center;
	background-color: #0000008a;
	background-blend-mode: multiply;
	position: relative;
} */

.bg-dark {
	background: #111111 !important;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	text-transform: uppercase;
}

nav{
	position: relative;
	overflow: hidden;
	transition: .5s ease;
}

.navbar-dark .navbar-nav .nav-link{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

.nav-right-social{
    position: relative;
    z-index: 100;
}

.nav-right-social .social-ul{
	list-style: none;
	margin-bottom: 0;
}

.nav-right-social .social-ul .social-link{
	display: inline-block;
	margin-left: 10px;
}

.nav-right-social .social-ul .social-link .fab{
	background: #111;
	padding-top: 8px;
	padding-left: 9px;
	border-radius: 50px;
	height: 30px;
	width: 30px;
	font-size: 14px;
	color: #fff;
	transition: .3s all;
}

.nav-right-social .social-ul .social-link .fab:hover{
	background: rgb(255, 255, 255);
	color: #111;
}

.nav-right-social .social-ul .social-link .fa-facebook-f{	
    padding-left: 10px;
}

.top-bar-mob{
	display: none;
}


.main-bg{
	height: 70vh;
	width: 100%;
	background: url('assets/img/min.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #00000069;
	background-blend-mode: color;
	overflow: hidden;
	position: relative;
}

.banner-left{
	position: relative;
	z-index: 100;
	padding-top: 100px;
}

.main-bg .banner-header{
	color: #fff;
	font-size: 60px;
	font-family: montserrat;
	font-weight: 700;

}

.main-bg .banner-text{
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-family: 'open sans';
	font-weight: 400;
	
}




@media (min-width: 1200px){
    .main-bg:after{
	content: "";
	display: block;
	background: #dd2732;
	width: 1228px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -540px;
	transform: skew(20deg);
}	
}

@media (min-width: 992px){
.ml-lg-auto, .mx-lg-auto {
    margin: auto!important;
}
}

@media (min-width: 992px){
	.navbar{
		padding: 15px 70px;
	}

	nav::after{
		content: "";
		position: absolute;
		background: #dd2732;
		display: block;
		height:100px;
		width: 400px;
		top:0;
		right: -160px;
		transform: skew(-20deg);
	}
}

@media (max-width: 992px){
	.nav-right-social{
		display: none;
	}

	.top-bar-mob{
		display: block;
		text-align: center;
		padding: 5px 0;
	}

	.top-bar-mob .social-ul{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
	}

	.top-bar-mob .social-ul .social-link{
		display: inline-block;
		margin-left: 10px;
	}
}
